<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/askFormCss.css" rel="stylesheet" type="text/css"/>
    <title>질문하기</title>
</head>
<body>

<!-- 로고 컨테이너 -->
<div class="logo-container">
    <img src="/Logo/pickplace_logo.png" alt="로고" class="logo">
</div>

<div class="container">
    <h1>여행지역 정하기</h1>
    <form action="/ask" method="post">
        <button type="submit">질문하기</button>
    </form>
    <a href="/totalMap">전체지도 보기</a>
</div>
</body>
</html>
